{% extends 'core/base.html' %}

{% block content %}
<section class="page-section min-vh-100 bg-dark">
  <div class="container justify-content-center text-center">
    <div class="jumbotron mt-3">
      <h2 class="display-4">Bienvenue chez Pur Beurre!</h2>
      <p class="lead mt-4">Vous n’êtes actuellement pas connecté. En vous connectant, vous pourrez sauvegarder des produits et les retrouver sur cette page!</p>
      <hr class="my-4">
      <p>Veuillez vous connecter ou créer un nouveau compte</p>
      <a class="btn btn-primary btn-lg m-2" href="{% url 'accounts:create' %}" role="button">Créer un compte</a>
      <a class="btn btn-primary btn-lg m-2" href="{% url 'accounts:login' %}" role="button">Me connecter</a>
    </div>
  </div>
</section>
{% endblock %}